
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: #112;
	color: #556;
}

html, body, canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body[data-pointer-lock="true"] nub-context {
	visibility: hidden;
}

benev-theater[view-mode="small"] {
	margin: 15vh auto 0;
}

@media (max-width: 970px) {
	.wrap-sticks {
		padding: 0 1vw;
		gap: 8vw;
	}
}
